<div id="{{ element_id }}"
    data-loaded-width="{{ width }}"
    x-data="{ loaded: false }"
    x-init="loaded = $el.querySelector('img')?.complete || false"
    hx-get="/uploads/{{ upload.id }}/image?context={{ image_context }}"
    hx-swap="outerHTML"
    hx-vals="js:{...calculateMaxImageSize({{ upload.image.width }}, {{ upload.image.height }}, {{ container_js }}, {{ ignore_height_js }})}"
    hx-trigger="resize from:window delay:200ms">
    {% include "components/common/image-placeholder.html.j2" %}
    <img {% if img_class %}class="{{ img_class }}"{% endif %}
        src="{{ upload.autoresize_url(max_width=width) }}?t={{ upload.updated_at.timestamp() | int }}"
        alt="{{ upload.display_name }}"
        @load="loaded = true"
        x-show="loaded"
        x-transition.opacity.duration.150ms
        x-cloak>
</div>