{% macro render_image_rotate_select() %}
<div class="relative input w-full" x-data="{ open: false }">
    <div class="w-full min-w-0">
        <div class="split-button split-button-neutral max-lg:split-button-md w-full max-w-full">
            <div class="split-button-label w-full">Rotate</div>
            <button type="button"
                    id="rotate-toggle"
                    class="split-button-toggle"
                    aria-label="Toggle rotate menu"
                    @click="open = !open">
                <svg class="size-4" aria-hidden="true"><use href="#material-symbols-outlined-arrow-drop-down"></use></svg>
            </button>
        </div>
        <ul role="menu"
            class="menu absolute w-fit max-h-64 overflow-y-auto z-10"
            aria-label="Rotate options"
            x-show="open"
            x-cloak
            @click="open = false"
            @click.outside="open = false">
            {{ caller() }}
        </ul>
    </div>
</div>
{% endmacro %}
