{% if pagination is defined and pagination.pages > 1 %}
<div class="pagination">
    <ul class="flex gap-1 text-gray-900">
        <li>
            {% if pagination.page > 1 %}
            <a href="{{ pagination.page_url(pagination.page - 1) }}" aria-label="Previous page" class="page-item next-previous-page justify-items-center" hx-boost>
                <svg class="size-4" aria-hidden="true">
                    <use href="#material-symbols-outlined-chevron-left"></use>
                </svg>
            </a>
            {% else %}
            <span class="page-item page-item-disabled next-previous-page justify-items-center" aria-hidden="true">
                <svg class="size-4" aria-hidden="true">
                    <use href="#material-symbols-outlined-chevron-left"></use>
                </svg>
            </span>
            {% endif %}
        </li>

        {% for page in range(1, pagination.pages + 1) %}
        <li>
        {% if page == pagination.page %}
            <span class="page-item page-item-active" aria-current="page">
            {{ page }}
            </span>
        {% else %}
            <a href="{{ pagination.page_url(page) }}" class="page-item" hx-boost>
            {{ page }}
            </a>
        {% endif %}
        </li>
        {% endfor %}

        <li>
            {% if pagination.page < pagination.pages %}
            <a href="{{ pagination.page_url(pagination.page + 1) }}" aria-label="Next page" class="page-item next-previous-page justify-items-center" hx-boost>
                <svg class="size-4" aria-hidden="true">
                    <use href="#material-symbols-outlined-chevron-right"></use>
                </svg>
            </a>
            {% else %}
            <span class="page-item page-item-disabled next-previous-page justify-items-center" aria-hidden="true">
                <svg class="size-4" aria-hidden="true">
                    <use href="#material-symbols-outlined-chevron-right"></use>
                </svg>
            </span>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}