<div id="stack-card{{ '-' + loop.index | string if loop is defined else '' }}"
    class="relative group/card rounded-lg p-3 border border-gray-100 shadow-sm shadow-gray-300
            h-min flex-col justify-center transition-all
            duration-150 hover:shadow-md hover:shadow-gray-300 hover:scale-101">
    <a class="block border border-dashed text-gray-600 hover:text-gray-400 border-gray-600 hover:border-gray-400 rounded-md object-cover w-16 h-16 mx-auto"
        aria-label="{{ stack.name }}"
        href="{{ stack.view_url }}">
        <div class="flex items-end justify-end h-full w-full p-2">
            {{ stack.name }}
        </div>
    </a>
    <div class="mt-2">
        <dl>
            <div class="flex flex-wrap items-center gap-2 text-xs text-gray-500 mt-2">
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4.5 fill-gray-500">
                        <use href="#material-symbols-outlined-cards-stack"></use>
                    </svg>
                    <p class="font-medium">
                        {{ stack.selection_detail | length }}
                    </p>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500">
                        <use href="#material-symbols-outlined-unknown-document"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                    <p class="font-medium">
                        {{
                            (stack.selection_detail.file_types | first).split('/') | last if stack.selection_detail.file_types | length == 1 else
                                "Images" if stack.selection_detail.is_image else "Various"
                        }}
                    </p>
                    </div>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500">
                        <use href="#material-symbols-outlined-storage"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="font-medium">{{ stack.selection_detail.file_size | humanize_bytes }}</p>
                    </div>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500">
                        <use href="#material-symbols-outlined-event"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="font-medium">{{ stack.selection_detail.updated_at | ago }}</p>
                    </div>
                </dd>
            </div>
            <div class="mt-2">
                <dd class="text-md overflow-hidden overflow-ellipsis whitespace-nowrap"
                    title="{{ stack.name }}">
                    <a href="{{ stack.view_url }}" class="text-gray-900 hover:underline">
                        {{ stack.name }}
                    </a>
                </dd>
            </div>
        </dl>
    </div>
</div>
