{% if stacks and stacks | length > 0 %}
<article id="gallery-grid"
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
    {% for stack in stacks %}
    {% include("components/common/stack-card.html.j2") %}
    {% endfor %}
</article>
{% else %}
<article id="gallery-grid" class="flex flex-col grow justify-center items-center">
    {% include("components/common/empty-content.html.j2") %}
</article>
{% endif %}
