{%- include "components/core/messages.html.j2" %}
{% if selected_uploads and selected_uploads | length > 0 %}
<aside id="gallery-sidebar"
    class="sidebar-not-loaded flex w-full">
    {% set sidebar_target = "#gallery-multiselect-sidebar" %}
    {%- include "components/gallery/multiselect-sidebar.html.j2" %}
</aside>
{% else %}
<aside id="gallery-sidebar" class="sidebar-not-loaded"></aside>
{% endif %}
