{% if selected_uploads and selected_uploads | length > 0 %}
<aside id="gallery-sidebar" class="flex flex-col w-full items-center md:gap-1 lg:gap-2">
{% if selected_uploads | length == 1 %}
    {% set upload = selected_uploads | first %}
    {% set filtered_collections = upload.filtered_collections %}
    {% include "components/upload/sidebar.html.j2" %}
{% else %}
    <div id="gallery-multiselect-sidebar">
        {%- include "components/gallery/download-button.html.j2" %}
    </div>
{% endif %}
</aside>
{% else %}
<aside id="gallery-sidebar"></aside>
{% endif %}
