<div id="sidebar-content"
    class="sticky top-2 grid w-40 lg:w-64">
    <div class="[grid-area:1/1] top-0 left-0 flex w-full">
        {%- include("/gallery/partials/sidebar-content.html.j2") %}
    </div>
    <div id="sidebar-loading-indicator"
        class="[grid-area:1/1] top-0 left-0 flex w-full justify-center items-center">
        <svg class="size-12 animate-spin">
            <use href="#material-symbols-outlined-progress-activity"></use>
        </svg>
    </div>
</div>
