{%- include "components/common/messages.html.j2" %}
{% if selected_uploads and selected_uploads | length > 0 %}
<div id="gallery-sidebar"
    class="sidebar-not-loaded flex w-full">
    {% set sidebar_target = "gallery-multiselect-sidebar" %}
    {% if selected_uploads | length == 1 %}
    {% set upload = selected_uploads[0] %}
    {%- include "components/uploads/sidebar.html.j2" %}
    {% else %}
    {%- include "components/gallery/multiselect-sidebar.html.j2" %}
    {% endif %}
</div>
{% else %}
<div id="gallery-sidebar" class="sidebar-not-loaded w-full"></div>
{% endif %}
