@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    @apply text-blue-500 hover:text-blue-300;
  }
}

@layer components {
    .button {
        @apply bg-blue-500 hover:bg-blue-300 text-white py-2 px-4 rounded cursor-pointer max-h-fit;
    }
    .button-sm {
        @apply py-1 px-2 text-sm;
    }
    .button-xs {
        @apply py-1 px-1 text-xs;
    }
    .button-alert {
        @apply bg-red-500 hover:bg-red-300;
    }
    .button-warning {
        @apply bg-yellow-500 hover:bg-yellow-300;
    }
    .button-ok {
        @apply bg-green-500 hover:bg-green-300;
    }
    .button-disabled {
        @apply bg-gray-400 hover:bg-gray-400 cursor-not-allowed;
    }
    .message {
      @apply my-2 p-2 border border-blue-500 bg-blue-100 rounded items-center;
    }
    .message-ok {
      @apply border-green-500 bg-green-100;
    }
    .message-warning {
      @apply border-yellow-500 bg-yellow-100;
    }
    .message-alert {
      @apply border-red-500 bg-red-100;
    }
}
