{%- if not request or request.headers.get('hx-request') != 'true' %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('multiSelectCombo', () => ({
            menu: false,
            search: '',
            selected: [],

            init() {
                this.selected = Array.from(
                    this.$el.querySelectorAll('input[name=collections][checked]')
                    ).map(el => el.value)
            },

            get buttonText() {
                if (this.selected.length > 0) {
                    if (this.selected.length == 1) {
                        return this.$refs['collection-' + this.selected[0]].nextSibling.textContent.trim();
                    }
                    else {
                        return this.selected.length + ' selected';
                    }
                }
                else {
                    return '0 selected';
                }
            }
        }))
    })
</script>
{% endif %}

{% macro render_combo_selector(upload, content) %}
<div id="collections_combo_selector" class="relative input w-full"
    x-data="multiSelectCombo">
    <label class="text-xs text-gray-700 font-medium" for="collection_name">Collections</label>
    <fieldset class="mt-1 w-full min-w-0">
        <legend class="sr-only">Collections</legend>
        <div class="split-button split-button-neutral w-full max-w-full">
            <div class="split-button-label w-full truncate" x-text="buttonText"></div>
            <button class="split-button-toggle"
                    type="button"
                    aria-label="Toggle collections menu"
                    @click="menu = !menu">
                <svg fill="none" stroke="currentColor" class="size-4" aria-hidden="true"><use href="#icon-chevron-down"></use></svg>
            </button>
        </div>
        <ul class="menu absolute w-fit max-h-64 overflow-y-scroll z-10"
            x-show="menu"
            x-cloak
            @click.outside="menu = false">
            <li>
                <label class="flex items-center gap-2 cursor-pointer" aria-label="Filter collections">
                    <button class="text-green-500 h-3.5 w-3.5 m-0.5 p-0" type="button" aria-label="Add as new collection"
                            x-cloak
                            x-show="search.trim() !== ''"
                            hx-post="/uploads/{{ upload.id }}/collection"
                            hx-include="next input[name='collection_name']"
                            hx-select="#collections_combo_selector"
                            hx-target="#collections_combo_selector"
                            hx-swap="outerHTML"
                            hx-select-oob="#messages"
                            hx-target-4*="#messages">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
                    </button>
                    <input class="text-sm p-0 m-0 ring-0 bg-transparent border-none field-sizing-content min-w-xs placeholder:text-gray-700"
                           type="text" id="collection_name" name="collection_name" placeholder="Filter or add new" x-model="search">
                </label>
            </li>
            {% for collection in upload.collections %}
            <li x-show="'{{ collection.name }}'.toLowerCase().includes(search.toLowerCase())">
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="checkbox" name="collections" value="{{ collection.id }}" checked
                        x-model="selected"
                        x-ref="collection-{{ collection.id }}" />
                    {{ collection.name }}
                </label>
            </li>
            {% endfor %}
        </ul>
    </fieldset>
</div>
{% endmacro -%}

{# Handle HTMX partial request #}
{%- if request and request.headers.get('hx-request', '') == 'true' %}
{{ render_combo_selector(upload) }}
{% endif %}
