{%- if not request or request.headers.get('hx-request') != 'true' %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('multiSelectCombo', () => ({
            menu: false,
        }))
    })
</script>
{% endif %}

{% macro render_combo_selector(upload, content) %}
<div class="relative input w-full" x-data="{ menu: false, search: '', selected: [] }">
    <label class="text-xs text-gray-700 font-medium" for="collection_filter">Collections</label>
    <fieldset class="mt-1 w-full min-w-0">
        <legend class="sr-only">Collections</legend>
        <div class="split-button split-button-neutral w-full max-w-full">
            <div class="split-button-label w-full truncate" x-text="selected.join(', ') !== '' ? selected.join(', ') : 'None selected'"></div>
            <button class="split-button-toggle"
                    type="button"
                    aria-label="Toggle collections menu"
                    @click="menu = !menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
                </svg>
            </button>
        </div>
        <ul class="menu absolute w-fit max-h-64 overflow-y-scroll z-10"
            x-show="menu"
            x-cloak
            @click.outside="menu = false">
            <li>
                <label class="flex items-center gap-2 cursor-pointer" aria-label="Filter collections">
                    <button class="text-green-500 h-3.5 w-3.5 m-0.5 p-0" type="button" aria-label="Add as new collection"
                            x-cloak
                            x-show="search.trim() !== ''">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
                    </button>
                    <input class="text-sm p-0 m-0 ring-0 border-none placeholder:text-gray-700 field-sizing-content min-w-xs"
                           type="text" id="collection_filter" name="collection_filter" placeholder="Filter or add new..." x-model="search">
                </label>
            </li>
            {% for collection in collections %}
            <li x-show="'{{ collection }}'.toLowerCase().includes(search.toLowerCase())">
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="checkbox" name="collections" value="{{ collection }}" x-model="selected">
                    {{ collection }}
                </label>
            </li>
            {% endfor %}
        </ul>
    </fieldset>
</div>
{% endmacro -%}

{# Handle HTMX partial request #}
{%- if request and request.headers.get('hx-request', '') == 'true' %}
{{ render_combo_selector(upload) }}
{% endif %}
