{% macro render_dialog(title, content) %}
<div x-show="open"
     x-cloak
     x-transition.opacity.duration.300ms
     @click="open = false"
     class="fixed inset-0 z-50 grid place-content-center bg-black/50 p-4"
     role="dialog"
     aria-modal="true"
     aria-labelledby="modalTitle">
  <div @click.stop
       class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg">
    <div class="flex items-start justify-between">
      <h2 id="modalTitle" class="text-xl font-bold text-gray-900 sm:text-2xl">
        {{ title }}
      </h2>

      <button @click="open = false"
              type="button"
              class="-me-4 -mt-4 rounded-full bg-black/25 p-1 text-white hover:bg-black/50 transition-colors"
              aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <div class="mt-4">
      <p class="text-pretty text-gray-700">
        {{ content }}
      </p>
    </div>

    <footer class="mt-6 flex justify-end gap-2">
        {{ caller() }}
    </footer>
  </div>
</div>
{% endmacro %}
