<label class="input tag-input" for="Tag input">
    <span class="label">Tag input</span>
    <div>
        <ul>
            <li>
                <div class="tag">
                    <button type="button">
                        <span class="sr-only">Remove tag</span>
                        &times;
                    </button>
                    <span>Tag 1</span>
                </div>
            </li>
            <li>
                <div class="tag">
                    <button type="button">
                        <span class="sr-only">Remove tag</span>
                        &times;
                    </button>
                    <span>Tag 2</span>
                </div>
            </li>
            <li>
                <div class="tag">
                    <button type="button">
                        <span class="sr-only">Remove tag</span>
                        &times;
                    </button>
                    <span>Tag 3</span>
                </div>
            </li>
            <li>
                <div class="tag">
                    <button type="button">
                        <span class="sr-only">Remove tag</span>
                        &times;
                    </button>
                    <span>Tag 4</span>
                </div>
            </li>
            <li>
                <div class="tag">
                    <button type="button">
                        <span class="sr-only">Remove tag</span>
                        &times;
                    </button>
                    <span>Tag 5</span>
                </div>
            </li>
            <li>
                <div class="tag">
                    <button type="button">
                        <span class="sr-only">Remove tag</span>
                        &times;
                    </button>
                    <span>Tag 6</span>
                </div>
            </li>
            <li>
                <input type="text" id="Tag input" name="Tag input">
            </li>
        </ul>
    </div>
</label>
