{% from "components/confirm-modal.html.j2" import render_dialog %}
{% include "components/tag-input.html.j2" %}
{% from "components/tag-input.html.j2" import render_tags_input %}
{% if current_user and upload.user.id == current_user.id %}
        <div class="flex flex-col w-full gap-2 p-3 bg-gray-100 border border-gray-200 shadow-inner shadow-gray-300 rounded-md">
            <p class="text-xs font-semibold">ACTIONS</p>
            <div class="mt-2">{{ render_tags_input() }}</div>
            <div class="flex flex-col w-full gap-1 items-center justify-left">
                {% if upload.is_image %}
                <div class="relative w-full"
                     x-data="{ open: false }">
                    <button type="button"
                            id="rotate-toggle-{{ upload.id }}"
                            class="px-4 py-2 w-full text-left rounded-md hover:bg-gray-200 cursor-pointer disabled:cursor-not-allowed disabled:text-gray-500 hover:disabled:bg-gray-100"
                            aria-label="Menu"
                            @click="open = !open">
                        Rotate ▾
                    </button>

                    <ul role="menu"
                        class="menu"
                        aria-label="Download options"
                        x-show="open"
                        x-cloak
                        x-transition
                        @click="open = false"
                        @click.outside="open = false">
                        {% for rd in (('Rotate 90° Clockwise', 90), ('Rotate 180°', 180), ('Rotate 90° Counter-clockwise', 270),) %}
                        <li role="menuitem"
                            class="w-full text-left">
                            <button hx-post="/images/{{ upload.id }}/rotate/{{ rd[1] }}"
                                    hx-target="#view-frame-image"
                                    hx-select="#view-frame-image"
                                    hx-swap="outerHTML"
                                    hx-select-oob="#messages,#upload-details"
                                    hx-target-4*="#messages"
                                    hx-disabled-elt="#rotate-toggle-{{ upload.id }}"
                                    hx-indicator="#loading-indicator"
                                    class="w-full text-left cursor-pointer">
                                {{ rd[0] }}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div x-data="{ open: false }"
                    class="w-full">
                    {% call render_dialog(title='Confirm delete', content='Are you sure you wish to permanently delete this file?') %}
                    <button hx-delete="/{{ upload.id }}"
                            type="button"
                            class="button button-alert">
                        Delete
                    </button>
                    <button @click="open = false"
                            type="button"
                            class="button button-outline">
                        Cancel
                    </button>
                    {% endcall %}
                    <button @click="open = true"
                            type="button"
                            class="px-4 py-2 w-full text-left rounded-md hover:text-red-600 hover:bg-red-200 cursor-pointer">
                        Delete
                    </button>
                </div>
            </div>
        </div>
{% endif %}
