{% from "components/confirm-modal.html.j2" import render_dialog %}
{% include "components/tag-input.html.j2" %}
{% from "components/tag-input.html.j2" import render_tags_input with context %}
{% include "components/collections-combo-selector.html.j2" %}
{% from "components/collections-combo-selector.html.j2" import render_combo_selector with context %}
        <div class="flex flex-col w-full gap-2 p-3 bg-gray-100 border border-gray-200 shadow-inner shadow-gray-300 rounded-md">
            <div>{{ render_tags_input() }}</div>
            <div>{{ render_combo_selector() }}</div>
{% if current_user and upload.user.id == current_user.id %}
            <p class="mt-2 text-xs text-gray-700 font-medium">Actions</p>
            <div class="flex flex-col w-full gap-2">
                {% if upload.is_image %}
                {% include "components/image-rotate-select.html.j2" %}
                {% endif %}
                {% include "components/upload-delete-button.html.j2" %}
            </div>
{% endif %}
        </div>
