{% if request.headers.get('hx-request', None) and request.headers.get('hx-target', None) and request.session.get('_flashes', None) %}
{% if request.session.get('_flashes') | length %}
{% include "layout/messages.html.j2" %}
{% endif %}
{% endif %}
