{% from "components/core/image-rotate-select.html.j2" import render_image_rotate_select with context %}
{% call render_image_rotate_select() %}
{% for rd in (('Rotate 90° Clockwise', 90), ('Rotate 180°', 180), ('Rotate 90° Counter-clockwise', 270),) %}
<li role="menuitem">
    <input name="angle" type="hidden" value="{{ rd[1] }}" />
    <button hx-post="/images/rotate"
            hx-include="previous [name='angle'],[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
            hx-swap="outerHTML"
            hx-target-4*="#messages"
            hx-disabled-elt="#rotate-toggle"
            {%- if sidebar_target == "#gallery-multiselect-sidebar" %}
            hx-target="#gallery-grid"
            hx-select="#gallery-grid,#messages"
            hx-indicator=".group\/card:has([name='selected_upload_ids']:checked)"
            {%- else %}
            hx-target="#view-frame-image"
            hx-select="#view-frame-image"
            hx-select-oob="#messages,#upload-details"
            hx-indicator="#loading-indicator"
            {%- endif %}
            class="w-full text-left cursor-pointer">
        {{ rd[0] }}
    </button>
</li>
{% endfor %}
{% endcall %}
