{% include "components/tags/input.html.j2" %}
{% set tags = upload.tags %}
{% from "components/tags/input.html.j2" import render_tags_input, render_tags_readonly with context %}
{% include "components/collections/combo-selector.html.j2" %}
{% set selected_collections = upload.collections %}
{% from "components/collections/combo-selector.html.j2" import render_combo_selector with context %}
<div class="flex flex-col w-full gap-2 p-3 bg-gray-100 border border-gray-200 shadow-inner shadow-gray-300 rounded-md">
    <input type="hidden" name="selected_ids" value="{{ upload.id }}" />
    {%- if current_user %}
    <div>{{ render_tags_input() }}</div>
    <div>{{ render_combo_selector() }}</div>
    {%- else %}
    <div>{{ render_tags_readonly() }}</div>
    {%- endif %}
    {%- if current_user and upload.user.id == current_user.id %}
        <p class="mt-2 text-xs text-gray-700 font-medium">Actions</p>
        <div class="flex flex-col w-full gap-2">
            {%- if upload.is_image %}
                {%- if request.url.path == '/' or request.url.path.startswith('/gallery') %}
                    {%- include "components/gallery/image-rotate-select.html.j2" %}
                {%- else %}
                    {%- include "components/uploads/image-rotate-select.html.j2" %}
                {%- endif %}
            {%- endif %}
            {%- if request.url.path == '/' or request.url.path.startswith('/gallery') %}
                {%- include "components/gallery/delete-button.html.j2" %}
            {%- else %}
                {%- include "components/uploads/delete-button.html.j2" %}
            {%- endif %}
            {%- include "components/uploads/private-toggle.html.j2" %}
        </div>
    {%- endif %}
</div>
