{%- if not request or request.headers.get('hx-request') != 'true' %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('tagInput', () => ({
            menu: false,
            newTag: '',

            update() {
                if (this.newTag.trim() === '') {
                    this.menu = false;
                }
                else {
                    this.menu = true;
                }
            }
        }))
    })
</script>
{% endif %}

{% macro render_tags_readonly() %}
<div id="tag-input">
    <label class="text-xs text-gray-700 font-medium">Tags</label>
    <div class="input tag-input mt-1">
        <div class="p-2">
            <ul class="flex flex-wrap gap-1 items-center">
                {% for tag in upload.tags %}
                <li class="text-xs">
                    <div class="px-1 py-0.5 border border-blue-500 shadow shadow-blue-300 rounded-sm uppercase">
                        <span>{{ tag.name }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_tags_input() %}
<div id="tag-input">
    <label class="text-xs text-gray-700 font-medium" for="tag_name">Tags</label>
    <div class="input tag-input mt-1"
         @click="$focus.focus(document.getElementById('tag_name'))"
         x-data="tagInput"
         x-init>
        <div class="relative hover:bg-gray-200 p-2">
            <ul class="peer flex flex-wrap gap-1 items-center">
                {% for tag in upload.tags %}
                <li class="tag-item md:max-lg:tag-item-sm" @click.stop>
                        <button class="tag-remove" type="button"
                                hx-delete="/uploads/{{ upload.id }}/tag"
                                hx-vals='{"tag_name": "{{ tag.name }}"}'
                                hx-select="#tag-input"
                                hx-target="#tag-input"
                                hx-swap="outerHTML"
                                hx-select-oob="#messages"
                                hx-target-4*="#messages">
                            <span class="sr-only">Remove tag</span>
                            &times;
                        </button>
                        <span>{{ tag.name }}</span>
                </li>
                {% endfor %}
                <li class="text-xs">
                    <div class="relative">
                        <input type="text" id="tag_name" name="tag_name" placeholder="{{ 'Click to add tags...' if upload.tags|length == 0 else '' }}"
                               class="text-xs ring-0 px-1 py-0.5 min-w-16 focus:min-w-16 placeholder-shown:min-w-0 placeholder:italic field-sizing-content bg-transparent shadow-none border-0 rounded-none focus:border-b focus:border-b-blue-500 focus:-mb-px peer"
                               x-model="newTag"
                               @keyup="update()"
                               @focus="update()"
                               @click="update()"
                               @keyup.enter="$event.preventDefault(); if (event.target.value.trim() !== '') { htmx.trigger(htmx.find('#tag-suggestions li:first-child'), 'click'); }"
                               hx-trigger="change, keyup[event.target.value.trim() !== ''] changed delay:200ms"
                               hx-post="/uploads/{{ upload.id }}/tag-suggestions"
                               hx-target="#tag-suggestions"
                               hx-swap="outerHTML"
                               hx-select-oob="#messages"
                               hx-target-4*="#messages">
                        {% include "components/core/tag-suggestions.html.j2" %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endmacro -%}

{# Handle HTMX partial request #}
{%- if request and request.headers.get('hx-target', '') == 'tag-input' %}
{{ render_tags_input() }}
{% endif %}
