{%- extends "components/layout/base.html.j2" %}

{%- block content %}
<div class="grow min-w-0">
    {%- include("/components/common/stack-grid.html.j2") %}
    {%- include("/components/gallery/pagination.html.j2") %}
</div>
{% endblock %}
