{% if selected_collections | length > 0 or filtered_collections | length > 0 %}
{% for collection in selected_collections %}
{% set is_last_item = loop.last %}
{% set is_selected = true %}
{% include "components/collections/combo-selector-item.html.j2" %}
{% endfor %}
{% for collection in filtered_collections %}
{% set is_selected = false %}
{% include "components/collections/combo-selector-item.html.j2" %}
{% endfor %}
{% else %}
<li class="menu-item">
    <div class="flex items-center gap-2 text-gray-500 italic">
        No collections found
    </div>
</li>
{% endif %}
