{% extends "components/layout/base.html.j2" %}

{% block content %}
{% include "search/partials/query_form.html.j2" %}
{% endblock %}

{% block sidebar %}
{% include("gallery/partials/sidebar.html.j2") %}
{% endblock %}
