{%- extends "layout/base.html.j2" %}

{%- from "components/gallery/multiselect-chrome.html.j2" import render_multiselect_chrome with context %}

{%- block content %}
{% call render_multiselect_chrome() %}
<div class="flex flex-row gap-4">
    <div class="w-full grow items-center justify-start"
        :class="selectedCount > 0 ? 'md:max-w-4/5 lg:max-w-3/4 xl:max-w-full' : 'w-full'">
        {%- include("/gallery/partials/grid.html.j2") %}
        {%- include("/gallery/partials/pagination.html.j2") %}
    </div>
    <div class="hidden"
        :class="selectedCount > 0 ? 'md:flex flex-col gap-4 md:w-1/5 lg:w-1/4 xl:max-w-64' : 'hidden'">
        {%- include("/gallery/partials/sidebar.html.j2") %}
    </div>
</div>
{% endcall %}
{% endblock %}
