{%- extends "components/layout/base.html.j2" %}

{%- from "components/gallery/multiselect-chrome.html.j2" import render_multiselect_chrome with context %}

{%- block content %}
{% call render_multiselect_chrome() %}
<div id="gallery-content"
    class="flex flex-col grow"
    hx-get="{{ request.url }}"
    hx-trigger="refresh-content from:body delay:200ms"
    hx-select="#gallery-content"
    hx-swap="outerHTML">
    {%- include("components/gallery/grid.html.j2") %}
    {%- include("components/gallery/pagination.html.j2") %}
</div>
{% endcall %}
{% endblock %}

{% block sidebar %}
{% include("gallery/partials/sidebar.html.j2") %}
{% endblock %}
