{%- extends "layout/base.html.j2" %}

{%- from "components/gallery/multiselect-chrome.html.j2" import render_multiselect_chrome with context %}

{%- block content %}
{% call render_multiselect_chrome() %}
<div class="flex flex-row grow">
    <div class="grow min-w-0">
        {%- include("/gallery/partials/grid.html.j2") %}
        {%- include("/gallery/partials/pagination.html.j2") %}
    </div>
    <div class="flex-none w-0 opacity-0 ml-0 transition-[width,opacity,margin] ease-in-out"
        :class="{
            'opacity-100 ml-2 w-40 lg:ml-4 lg:w-64': selectedCount > 0,
            'overflow-hidden': animating,
            'overflow-visible': !animating && selectedCount > 0,
            'sidebar-loaded': sidebarLoaded,
            'sidebar-not-loaded': !sidebarLoaded
        }"
        x-data="{ animating: false }"
        @transitionstart.self="animating = true"
        @transitionend.self="animating = false">
        <div id="sidebar-content"
            class="relative flex w-40 lg:w-64">
            {%- include("/components/upload/sidebar-placeholder.html.j2") %}
            <div class="absolute top-0 left-0 flex w-full">
                {%- include("/gallery/partials/sidebar.html.j2") %}
            </div>
            <div id="sidebar-loading-indicator"
                class="absolute top-0 left-0 flex w-full min-h-[calc(100dvh-148px)] justify-center items-center">
                <svg class="size-12 animate-spin" fill="none" viewBox="0 0 24 24">
                    <use href="#icon-loading-spinner"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
{% endcall %}
{% endblock %}
