{%- set ar_decimal = (upload.image.width / upload.image.height) | round(3) %}

<head>
{% include "layout/header-includes.html.j2" %}
</head>

<div class="modal-image fixed inset-0 z-50 grid place-content-center bg-black/50 sm:p-4" role="dialog" aria-modal="true"
    aria-labelledby="modalTitle" x-data="{ open: false, modalReady: false }" x-init="$nextTick(() => open = true)"
    x-show="open" x-transition.opacity.duration.300ms @click="open = false"
    @placeholder-ready.window="modalReady = true" @transitionend.self="if (!open) { $el.remove(); }">
    <h2 id="modalTitle" class="sr-only">Upload preview</h2>
    <div class="rounded-none sm:rounded-lg bg-white ml-2 mr-2 sm:mx-0 sm:p-1 shadow-lg"
         x-show="modalReady"
         x-transition.duration.150ms
         x-cloak
         @click.stop >
        <div class="relative" x-data="{ loaded: false }" x-init="loaded = $el.querySelector('img')?.complete || false;">
            <button class="absolute top-2 right-2 z-10 rounded-full bg-black/25 p-1 text-white hover:bg-black/50"
                aria-label="Close upload preview"
                @click="open = false">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            {% include "components/core/image-placeholder.html.j2" %}

            <img class="rounded-none sm:rounded-md max-h-[calc(100dvh-1rem)] sm:max-h-[calc(100dvh-2rem)]"
                 src="{{ upload.autoresize_url(modal_image_width) }}"
                 alt="{{ upload.description or upload.originalname }}"
                 @load="loaded = true"
                 x-show="loaded"
                 x-transition.opacity.duration.150ms
                 x-cloak>

            <p
                class="absolute bottom-2 left-0 flex w-full justify-center text-xs sm:text-sm md:text-base font-medium bg-black/25 p-1">
                <a href="{{ upload.view_url }}" class="text-white hover:text-gray-300">
                    {{ upload.description }}{{ upload.dot_ext }}
                </a>
            </p>
        </div>
    </div>
</div>
