{% extends "layout/base.html.j2" %}

{% block content %}
<div class="flex flex-row grow gap-4 mb-4 mt-2">
    {% include "uploads/partials/view-frame.html.j2" %}
    {% include "uploads/partials/view-sidebar.html.j2" %}
</div>
{% endblock %}
