<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ config.app_site_name }}</title>
{%- include 'layout/header-includes.html.j2' %}
    </head>
    <body hx-ext="response-targets" class="flex flex-col min-h-screen">
        <section class="sm:mx-2 mb-2">
{%- include "layout/navbar.html.j2" %}
        </section>
        <section class="mx-2">
{%- include "layout/messages.html.j2" %}
        </section>
        <main class="mx-2 mb-2 flex flex-col grow">
            <div class="container mx-auto">
            {% block content %}{% endblock %}
            </div>
        </main>
        <footer class="bg-gray-100 border-t border-gray-300 py-2">
            <div class="container mx-auto text-center text-xs text-gray-600">
                <p>
                    pyupload is Copyright &copy;2025 <a href="http://www.sifnt.net.au/" class="text-blue-600 hover:underline">sifnt</a>.
                    <span class="hidden md:inline">Use of this software is licensed under the General Public License (GPL) version 2.</span>
                </p>
                <p class="mt-2">
                    <a href="https://github.com/samburney/pyupload/issues" class="text-blue-600 hover:underline">Report a Bug or Request a Feature</a>
                </p>
            </div>
        </footer>
    </body>
</html>