<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ config.app_site_name }}</title>
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/htmx-ext-response-targets.js"></script>
        <script defer src="/static/js/alpine.min.js"></script>
        <link href="/static/css/tailwind.css" rel="stylesheet">
        <style>
            [x-cloak] { display: none !important; }
        </style>
    </head>
    <body hx-ext="response-targets">
        <div id="wrap" class="min-h-screen flex flex-col">
            <div class="sm:mx-2">
                {% include "layout/navbar.html.j2" %}
            </div>
            <div class="mx-2">
                {% include "layout/messages.html.j2" %}
            </div>
            <div class="mx-2">
                <div class="container mx-auto mt-4 grow" id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <div class="bg-gray-100 border-t border-gray-300 py-2 mt-auto">
                <div class="container mx-auto text-center text-xs text-gray-600">
                    <p>
                        pyupload is Copyright &copy;2025 <a href="http://www.sifnt.net.au/" class="text-blue-600 hover:underline">sifnt</a>.
                        <span class="hidden md:inline">Use of this software is licensed under the General Public License (GPL) version 2.</span>
                    </p>
                    <p class="mt-2">
                        <a href="https://github.com/samburney/pyupload/issues" class="text-blue-600 hover:underline">Report a Bug or Request a Feature</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>