        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/htmx-ext-response-targets.js"></script>
        <script defer src="/static/js/alpine.min.js"></script>
        <link href="/static/css/tailwind.css" rel="stylesheet">
        <style>
            [x-cloak] { display: none !important; }
        </style>
