{% set flashed_info_messages, flashed_error_messages = get_flashed_messages(request) %}
{% set info_messages = info_messages | default([]) + flashed_info_messages %}
{% set error_messages = error_messages | default([]) + flashed_error_messages %}
<div>
    {% if info_messages is defined and info_messages | length > 0 %}
    <span class="info-header">Info:</span>
    <ul class="info-messages">
        {% for message in info_messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if error_messages is defined and error_messages | length > 0 %}
    <span class="error-header">Error:</span>
    <ul class="error-messages">
        {% for message in error_messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
