{% if request.headers.get('hx-target', None) and request.headers.get('hx-target').startswith('gallery-card-') %}
{% include "components/common/messages.html.j2" %}
{% include "components/uploads/sidebar-details.html.j2" %}
{% endif %}
<div id="gallery-card-{{ upload.id }}"
    class="relative group/card
        rounded-lg p-1 mb-1 border border-gray-100 shadow-sm shadow-gray-300 break-inside-avoid-column
        sm:p-3 sm:mb-2 md:mb-4
        sm:h-min sm:flex-col sm:justify-center sm:transition-all
        sm:duration-150
        sm:hover:shadow-md sm:hover:shadow-gray-300 sm:hover:scale-101
        sm:has-checked:outline-3 sm:has-checked:outline-blue-500"
    {%- if current_user and current_user.id == upload.user.id %}
    @click.self="toggleSelected($el.querySelector('input[type=checkbox]').value);"
    @click.capture="if (selectedCount > 0 && !$event.target.closest('input[type=checkbox]')) {
            $event.preventDefault();
            $event.stopPropagation();
            toggleSelected($el.querySelector('input[type=checkbox]').value);
        }"
    {%- endif %}
        >
    {%- if upload.image %}
    {%- set thumb_max_width = 640 %}
    {%- set ar_decimal = (upload.image.width / upload.image.height) %}

    {# Max aspect ratio for tall images #}
    {%- set max_tall_ar = 9 / 16 %}

    {# If thumbnail too tall, clamp to 9:16 box and crop the rest. #}
    {%- if ar_decimal < max_tall_ar %}
        {%- set thumb_max_height = (thumb_max_width / max_tall_ar) | int %}
        {%- set aspect_classes = 'max-h-[calc(100cqw*16/9)] object-cover object-center' %}

    {# Otherwise scale to column width, let the height be its natural scaled size. #}
    {%- else %}
        {%- set thumb_max_height = (thumb_max_width / ar_decimal) | int %}
        {%- set aspect_classes = '' %}
    {%- endif %}
    <a href="{{ upload.view_url }}"
        aria-label="{{ upload.image.width }}x{{ upload.image.height }} Open upload {{ upload.display_name }}"
        hx-get="{{ upload.view_url }}"
        hx-select=".modal-image"
        hx-target="body"
        hx-swap="beforeend"
        hx-select-oob="#messages"
        hx-target-4*="#messages"
        hx-vals="js:{modal_width: calculateMaxImageSize({{ upload.image.width }}, {{ upload.image.height }}).width}"
        hx-indicator=".hidden-indicator"
        x-data="{ loaded: false }"
        x-init="loaded = $el.querySelector('img')?.complete || false" class="relative">
        <div class="space-y-8 animate-pulse text-gray-500
            md:space-y-0 md:space-x-8 md:flex md:items-center"
            x-show="!loaded">
            <div class="flex items-center justify-center w-full bg-neutral-quaternary rounded-base bg-gray-200 rounded-md"
                style="max-width: {{ thumb_max_width }}px; aspect-ratio: {{ ar_decimal }};">
                <svg class="fill-gray-400" aria-hidden="true">
                    <use href="#material-symbols-outlined-broken-image"></use>
                </svg>
            </div>
        </div>
        <div class="@container flex">
            <img class="w-full h-auto rounded-t-md
                {{ aspect_classes }}
                sm:rounded-md transition-normal duration-150 hover:brightness-80"
                alt="{{ upload.display_name }}"
                src="{{ upload.autoresize_url(thumb_max_width) }}?t={{ upload.updated_at.timestamp() | int }}"
                x-show="loaded"
                x-transition.opacity.duration.150ms
                x-cloak
                @load="loaded = true">
        </div>
        <div class="absolute hidden top-0 left-0 w-full h-full items-center justify-center htmx-indicator">
            <svg class="size-12 animate-spin fill-blue-500">
                <use href="#material-symbols-outlined-progress-activity"></use>
            </svg>
        </div>
        <div class="absolute bottom-0 right-0 flex flex-row w-full">
            <div
                class="flex flex-row grow gap-2 mb-2 items-center text-gray-100 bg-linear-to-r from-black/0 from-60% to-black/30 pr-2 py-0.5">
            </div>
            <div class="flex flex-row gap-2 mb-2 items-center text-gray-100 bg-black/30 pr-3 py-0.5">
                <svg class="size-4 fill-gray-100" aria-hidden="true">
                    <use href="#material-symbols-outlined-aspect-ratio"></use>
                </svg>
                <div class="mt-1.5 sm:mt-0">
                    <p class="text-xs font-medium">{{ upload.image.width }}x{{ upload.image.height }}</p>
                </div>
            </div>
        </div>
    </a>
    {%- elif upload.is_vector %}
    <div class="@container flex">
        <a href="{{ upload.view_url }}"
           aria-label="View {{ upload.display_name }}"
           class="flex w-full justify-center items-center bg-gray-50/50 transition-normal duration-150 hover:brightness-95">
            <img class="h-auto max-h-[calc(100cqw*16/9)] object-contain p-4"
                alt="{{ upload.display_name }}"
                src="{{ url_for('get_upload_get', id=upload.id, filename=upload.cleanname + upload.dot_ext) }}?t={{ upload.updated_at.timestamp() | int }}">
        </a>
    </div>
    {%- else %}
    <a class="block border border-dashed text-gray-600 hover:text-gray-400 border-gray-600 hover:border-gray-400 rounded-md object-cover w-16 h-16 mx-auto"
        aria-label="Download {{ upload.display_name }}"
        href="{{ upload.url }}">
        <div class="flex items-end justify-end h-full w-full p-2">
            {{ upload.dot_ext }}
        </div>
    </a>
    {%- endif %}
    <div class="mt-0.5 sm:mt-2">
        <dl>
            <div class="hidden flex-wrap items-center gap-2 text-xs text-gray-500 mt-2
                sm:flex">
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    {%- if not upload.private %}
                    <svg class="size-4{% if current_user and upload.user.id == current_user.id %} fill-blue-600{% else %} fill-gray-700{% endif %}"
                        aria-hidden="true"
                       >
                        <use href="#material-symbols-outlined-person"></use>
                    </svg>
                    {%- else %}
                    <svg class="size-4 fill-green-400" aria-hidden="true">
                        <use href="#material-symbols-outlined-lock-person"></use>
                    </svg>
                    {%- endif %}
                    <p class="font-medium">{{ upload.user.username }}</p>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500" aria-hidden="true">
                        <use href="#material-symbols-outlined-unknown-document"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="font-medium">{{ upload.short_type }}</p>
                    </div>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500" aria-hidden="true">
                        <use href="#material-symbols-outlined-storage"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="font-medium">{{ upload.size | humanize_bytes }}</p>
                    </div>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500" aria-hidden="true">
                        <use href="#material-symbols-outlined-visibility"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="font-medium">{{ upload.viewed }}</p>
                    </div>
                </dd>
                <dd class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
                    <svg class="size-4 fill-gray-500" aria-hidden="true">
                        <use href="#material-symbols-outlined-event"></use>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="font-medium">{{ upload.created_at | ago }}</p>
                    </div>
                </dd>
            </div>
            <div class="sm:mt-2">
                <dd class="text-sm text-center overflow-hidden overflow-ellipsis whitespace-nowrap
                    sm:text-md sm:text-left"
                    title="{{ upload.display_name }}">
                        <a href="{{ upload.view_url }}" class="text-gray-900 hover:underline">
                            {{ upload.display_name }}
                        </a>
                </dd>
            </div>
        </dl>
    </div>
    {%- if current_user and current_user.id == upload.user.id %}
    <input name="selected_upload_ids" value="{{ upload.id }}" type="checkbox"
        class="absolute top-6 left-6 bg-transparent rounded-full invisible
            checked:bg-blue-500 checked:visible
            group-hover/card:visible"
        x-model="selectedIds"
        @change="if (superSelected) {
            if ($el.checked) {
                deselectedIds = deselectedIds.filter(id => id !== $el.value)
            } else {
                if (!deselectedIds.includes($el.value)) {
                    deselectedIds.push($el.value)
                }
            }
        }" />
    {%- endif %}
</div>
