{%- if request.headers.get('hx-request', None) and request.headers.get('hx-target', None) and request.session.get('_flashes', None) %}
{%- include "components/core/messages.html.j2" %}
{%- endif %}
<div id="archive-download-button" class="flex justify-center items-center">
    <div class="relative" x-data="{ open: false }">
        <div class="split-button split-button-ok md:max-lg:split-button-md">
            {%- if download_archive is not defined or not download_archive or download_archive.status != 'ready' %}
            <button class="split-button-action text-center"
                hx-post="{{ request.url_for('request_uploads_archive_post', download_format='zip') }}"
                hx-include="[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
                hx-select="#archive-download-button > div"
                hx-target="#archive-download-button"
                hx-target-4*="#messages">
                Download {{ selected_uploads | count }} Items
            </button>
            {%- else %}
            <a href="{{ request.url_for('download_archive_get', download_archive_id=download_archive.id, download_archive_filename=download_archive.filename) }}"
                class="split-button-action text-center">
                Download {{ selected_uploads | count }} Items
            </a>
            {%- endif %}
            <button type="button"
                    class="split-button-toggle"
                    aria-label="Toggle download options"
                    @click="open = !open;">
                <svg fill="none" stroke="currentColor" aria-hidden="true"><use href="#icon-chevron-down"></use></svg>
            </button>
        </div>
        <ul role="menu"
            class="menu absolute w-fit max-h-64 overflow-y-auto z-10"
            aria-label="Download options"
            x-cloak
            x-show="open"
            @click="open = false"
            @click.outside="open = false">
            <li role="menuitem">
                <button class="text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='zip') }}"
                    hx-include="[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
                    hx-select="#archive-download-button > div"
                    hx-target="#archive-download-button"
                    hx-target-4*="#messages">
                    Download as ZIP
                </button>
            </li>
            <li role="menuitem">
                <button class="text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='tar.gz') }}"
                    hx-include="[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
                    hx-select="#archive-download-button > div"
                    hx-target="#archive-download-button"
                    hx-target-4*="#messages">
                    Download as TAR.GZ
                </button>
            </li>
            <li role="menuitem">
                <button class="text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='tar.bz2') }}"
                    hx-include="[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
                    hx-select="#archive-download-button > div"
                    hx-target="#archive-download-button"
                    hx-target-4*="#messages">
                    Download as TAR.BZ2
                </button>
            </li>
            <li role="menuitem">
                <button class="text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='tar.zstd') }}"
                    hx-include="[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
                    hx-select="#archive-download-button > div"
                    hx-target="#archive-download-button"
                    hx-target-4*="#messages">
                    Download as TAR.ZSTD
                </button>
            </li>
        </ul>
    </div>
</div>
