<div class="flex items-center">
    <div class="relative" x-data="{ open: false }">
        <div class="split-button split-button-ok md:max-lg:split-button-md">
            <a class="split-button-action text-center" href="#">
                Download Bundle
            </a>
            <button type="button"
                    class="split-button-toggle"
                    aria-label="Toggle download options"
                    @click="open = !open">
                <svg fill="none" stroke="currentColor" aria-hidden="true"><use href="#icon-chevron-down"></use></svg>
            </button>
        </div>
        <ul role="menu"
            class="menu absolute w-fit max-h-64 overflow-y-auto z-10"
            aria-label="Download options"
            x-cloak
            x-show="open"
            @click="open = false"
            @click.outside="open = false">
            <li role="menuitem">
                <a class="text-gray-700" href="#">
                    Download as ZIP
                </a>
            </li>
            <li role="menuitem">
                <a class="text-gray-700" href="#">
                    Download as TAR.GZ
                </a>
            </li>
            <li role="menuitem">
                <a class="text-gray-700" href="#">
                    Download as TAR.ZSTD
                </a>
            </li>
        </ul>
    </div>
</div>
