{%- include "components/common/messages.html.j2" %}
<div id="{{ button_id }}" class="flex justify-center items-center">
    <div class="relative" x-data="{ open: false }">
        <div class="split-button split-button-ok md:max-lg:split-button-md">
            {%- if download_archive is not defined or not download_archive or download_archive.status != 'ready' %}
            <button type="button"
                class="split-button-action text-center"
                hx-post="{{ request.url_for('request_uploads_archive_post', download_format='zip') }}"
                hx-target="#{{ button_id }}"
                hx-target-4*="#messages"
                {%- if hx_vals %}hx-vals="{{ hx_vals | tojson | e }}"{% endif %}
                {%- if hx_include %}hx-include="{{ hx_include }}"{% endif %}
                hx-select="#{{ button_id }} > div">
                Download {{ selection_detail.upload_count }} Items
            </button>
            {%- else %}
            <a href="{{ request.url_for('download_archive_get', download_archive_id=download_archive.id, download_archive_filename=download_archive.filename) }}"
                class="split-button-action text-center">
                Download {{ selection_detail.upload_count }} Items
            </a>
            {%- endif %}
            <button type="button"
                    class="split-button-toggle"
                    aria-label="Toggle download options"
                    @click="open = !open;">
                <svg fill="none" stroke="currentColor" aria-hidden="true"><use href="#icon-chevron-down"></use></svg>
            </button>
        </div>
        <ul role="menu"
            class="menu absolute w-fit max-h-64 overflow-y-auto z-10"
            aria-label="Download options"
            x-cloak
            x-show="open"
            @click="open = false"
            @click.outside="open = false">
            <li role="menuitem" class="p-0!">
                <button type="button"
                    class="w-full p-2 text-left text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='zip') }}"
                    hx-target="#{{ button_id }}"
                    hx-target-4*="#messages"
                    {%- if hx_vals %}hx-vals="{{ hx_vals | tojson | e }}"{% endif %}
                    {%- if hx_include %}hx-include="{{ hx_include }}"{% endif %}
                    hx-select="#{{ button_id }} > div">
                    Download as ZIP
                </button>
            </li>
            <li role="menuitem" class="p-0!">
                <button type="button"
                    class="w-full p-2 text-left text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='tar.gz') }}"
                    hx-target="#{{ button_id }}"
                    hx-target-4*="#messages"
                    {%- if hx_vals %}hx-vals="{{ hx_vals | tojson | e }}"{% endif %}
                    {%- if hx_include %}hx-include="{{ hx_include }}"{% endif %}
                    hx-select="#{{ button_id }} > div">
                    Download as TAR.GZ
                </button>
            </li>
            <li role="menuitem" class="p-0!">
                <button type="button"
                    class="w-full p-2 text-left text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='tar.bz2') }}"
                    hx-target="#{{ button_id }}"
                    hx-target-4*="#messages"
                    {%- if hx_vals %}hx-vals="{{ hx_vals | tojson | e }}"{% endif %}
                    {%- if hx_include %}hx-include="{{ hx_include }}"{% endif %}
                    hx-select="#{{ button_id }} > div">
                    Download as TAR.BZ2
                </button>
            </li>
            <li role="menuitem" class="p-0!">
                <button type="button"
                    class="w-full p-2 text-left text-gray-700 cursor-pointer"
                    hx-post="{{ request.url_for('request_uploads_archive_post', download_format='tar.zstd') }}"
                    hx-target="#{{ button_id }}"
                    hx-target-4*="#messages"
                    {%- if hx_vals %}hx-vals="{{ hx_vals | tojson | e }}"{% endif %}
                    {%- if hx_include %}hx-include="{{ hx_include }}"{% endif %}
                    hx-select="#{{ button_id }} > div">
                    Download as TAR.ZSTD
                </button>
            </li>
        </ul>
    </div>
</div>
