{% from "components/gallery/multiselect-control.html.j2" import render_multiselect_control with context %}
{% if uploads and uploads | length > 0 %}
{% call render_multiselect_control() %}
<article id="upload-grid" class="columns-1 md:columns-2 xl:columns-3 2xl:columns-4 gap-4 mb-4">
    {% for upload in uploads %}
    {% include("components/gallery/card.html.j2") %}
    {% endfor %}
</article>
{% endcall %}
{% else %}
<article class="flex flex-col grow justify-center items-center">
    {% include("components/core/empty-content.html.j2") %}
</article>
{% endif %}
