{% if uploads and uploads | length > 0 %}
<article id="gallery-grid"
    class="columns-2 gap-1.5
        sm:columns-1 sm:gap-2
        md:columns-2
        lg:gap-4
        xl:columns-3
        2xl:columns-4">
    {% for upload in uploads %}
    {% include("components/gallery/card.html.j2") %}
    {% endfor %}
</article>
{% else %}
<article id="gallery-grid" class="flex flex-col grow justify-center items-center">
    {% include("components/common/empty-content.html.j2") %}
</article>
{% endif %}
