{% macro multiselect_download_button(
    request,
    selection_detail,
    download_archives,
    button_id="archive-download-button",
    hx_include=none,
    hx_vals=none
) %}
{% include "components/gallery/download-button.html.j2" %}
{% endmacro %}
