{%- include "components/common/messages.html.j2" %}
{% set upload = selection_detail %}
<div id="gallery-multiselect-sidebar"
    class="flex flex-col w-full gap-1 lg:gap-2">
    <div class="flex w-full items-center justify-center gap-1 lg:gap-2">
        {%- if download_archive is not defined or not download_archive or download_archive.status == 'ready' %}
        {%- include "components/gallery/download-button.html.j2" %}
        {%- else %}
        {%- include "components/archives/download-button.html.j2" %}
        {%- endif %}
    </div>
    {%- include "components/gallery/multiselect-sidebar-details.html.j2" %}
    {%- include "components/common/sidebar-actions.html.j2" %}
</div>
