{% include "components/tags/input.html.j2" %}
{% set tags = selection_details.tags %}
{% from "components/tags/input.html.j2" import render_tags_input, render_tags_readonly with context %}
{% include "components/collections/combo-selector.html.j2" %}
{% from "components/collections/combo-selector.html.j2" import render_combo_selector with context %}
<div class="flex flex-col w-full gap-2 p-3 bg-gray-100 border border-gray-200 shadow-inner shadow-gray-300 rounded-md">
    {%- if current_user %}
    <div>{{ render_tags_input() }}</div>
    <div>{{ render_combo_selector() }}</div>
    {%- else %}
    <div>{{ render_tags_readonly() }}</div>
    {%- endif %}
</div>
