{% macro render_multiselect_chrome() %}
<div id="multiselect-chrome" class="grow min-w-0"
    x-data="handleSelectedUploads"
    @clear-selection="clearSelection()">
    <div id="sidebar-request-trigger"
        hx-post="{{ url_for('gallery_handle_selected_upload_post') }}"
        hx-trigger="update-sidebar from:body delay:200ms"
        hx-target="#gallery-sidebar"
        hx-select="#gallery-sidebar"
        hx-swap="outerHTML swap:150ms settle:150ms"
        hx-sync="this:replace"
        hx-indicator="#sidebar-content"
        hx-include="[name='super_selected'],[name='selected_ids'],[name='deselected_ids']"
        class="hidden">
        <input type="hidden" name="super_selected" :value="superSelected">
        <template x-for="id in selectedIds" :key="'selected-' + id">
            <input type="hidden" name="selected_ids" :value="id">
        </template>
        <template x-for="id in deselectedIds" :key="'deselected-' + id">
            <input type="hidden" name="deselected_ids" :value="id">
        </template>
    </div>
    {% include "components/gallery/multiselect-control.html.j2" %}
    {{ caller() }}
</div>
{% endmacro %}
