{%- include "components/common/messages.html.j2" %}
{% set upload = selection_detail %}
<div id="gallery-multiselect-sidebar"
    class="flex flex-col w-full gap-1 lg:gap-2">
    <h3 class="mb-0 mt-1">Selected Uploads</h3>
    {%- include "components/gallery/multiselect-sidebar-details.html.j2" %}
    {%- include "components/common/sidebar-actions.html.j2" %}
</div>
