<div id="file-upload-widget"
    x-data="fileUploadWidget">
    <div class="relative flex flex-col w-full items-center rounded-md border border-gray-100 p-px shadow-sm shadow-gray-300 text-gray-900
            hover:shadow-lg hover:border-2 hover:border-blue-500 hover:p-0
            focus:shadow-lg focus:border-2 focus:border-blue-500 focus:p-0
            has-[.dz-drag-hover]:shadow-lg has-[.dz-drag-hover]:border-2 has-[.dz-drag-hover]:border-blue-500 has-[.dz-drag-hover]:border-dashed has-[.dz-drag-hover]:p-0"
        @click="$el.focus();"
        @paste="handlePaste(event);"
        tabindex="0">
        <form id="upload-form"
            action="{{ request.url_for('upload_create_post') }}"
            method="post"
            enctype="multipart/form-data"
            class="w-full p-1 md:p-4"
            data-max-file-size="{{ max_file_size_mb }}"
            {% if accepted_files != '*' %}data-accepted-files="{{ accepted_files }}"{% endif %}>
            <div class="flex flex-col gap-4 items-center">
                <svg id="browse-files-button"
                    class="w-16 h-14 mt-4 py-2.25 px-4.25 rounded-md cursor-pointer
                        hover:py-2 hover:px-4 hover:fill-blue-500 hover:border hover:border-gray-300 hover:shadow-lg
                        active:shadow-md">
                    <use href="#material-symbols-outlined-place-item"></use>
                </svg>
                <div class="flex flex-col h-8 text-xs text-center items-center">
                    <div class="flex h-8 text-xs text-center items-center"
                        x-show="pendingCount === 0 || uploadingCount > 0"
                        x-html="!isLoaded ? 'Loading...' : uploadingCount > 0 ? 'Uploading files...' : 'Drop, paste or click<br>to upload files'">
                        Loading...
                    </div>
                    <div class="flex justify-center">
                        <button type="button" class="button button-md lg:button" disabled
                            x-show="pendingCount > 0 && uploadingCount === 0"
                            x-cloak
                            :disabled="pendingCount === 0 || uploadingCount > 0"
                            :class="{ 'button-disabled': pendingCount === 0 || uploadingCount > 0 }"
                            @click="processUploads();"
                            x-text="`Upload ${pendingCount} files`">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="absolute flex top-0 left-0 w-full h-20 transition-opacity duration-300"
            :class="isLoaded && uploadingCount === 0 ? 'opacity-0 pointer-events-none' : ''">
            <div class="absolute flex top-0 left-0 w-full h-20 bg-white opacity-85"></div>
            <div class="absolute flex top-0 left-0 w-full h-full items-end justify-center">
                <svg class="size-12 fill-blue-500 stroke-2 animate-spin"><use href="#material-symbols-outlined-progress-activity"></use></svg>
            </div>
        </div>
        <div class="absolute bottom-0 left-0 w-full h-2 rounded-b-md overflow-hidden">
            <div style="width: 0%;" class="h-full bg-blue-500 transition-[width] ease-in-out duration-200"
                :style="`width: ${totalUploadProgress}%;`"
                :class="{
                    'bg-red-500': queueComplete && Object.keys(erroredFiles).length > 0,
                    'bg-green-500': queueComplete && Object.keys(erroredFiles).length === 0,
                    'bg-blue-500': !queueComplete,
                }"></div>
        </div>
    </div>
    <div id="uploaded-files-list" class="w-full mt-2"
        x-show="fileCount > 0"
        x-cloak>
        <div id="uploaded-file-item-container" class="grid grid-cols-[auto_1fr] my-1 gap-0.5"></div>
    </div>
    <template id="uploaded-file-item-template">
        {%- include("uploads/partials/uploaded-file-item.html.j2") %}
    </template>
    <template id="uploaded-file-item-thumbnail-image">
        <img class="rounded-sm max-w-18 max-h-13 shadow-sm border border-gray-300 p-0.5"
            data-dz-thumbnail>
    </template>
    <template id="uploaded-file-item-thumbnail-file">
        <div class="rounded-sm min-w-13 min-h-13 shadow-sm border border-gray-300 p-0.5"
            data-dz-thumbnail>
            <div class="flex w-full h-full border border-dashed rounded-sm text-gray-600 border-gray-300 bg-white">
                <div class="flex items-end justify-end h-full w-full p-1 text-xs"
                    data-dz-thumbnail-ext>
                </div>
            </div>
        </div>
    </template>
</div>
