<div id="upload-details"
        class="flex flex-col w-full gap-2 p-3 bg-gray-100 border border-gray-200 shadow-inner shadow-gray-300 rounded-md">
    <div id="upload-description" class="relative group/desc flex w-full">
        <p class="text-xs font-semibold wrap-break-word">
            {{ upload.display_name | upper | replace("_", " ") }}
        </p>
        {% if upload.is_writable %}
        <button type="button"
            class="absolute hidden right-0 size-4 p-0.5 rounded-sm transition
            group-hover/desc:flex
            hover:cursor-pointer hover:outline-1 hover:outline-blue-500 hover:fill-blue-500"
            onclick="htmx.trigger(htmx.find('button[name=edit]'), 'click')">
            <svg viewBox="0 0 24 24">
                <use href="#material-symbols-outlined-edit-square"></use>
            </svg>
            <span class="sr-only">Edit description</span>
        </button>
        {% endif %}
    </div>
    <dl class="flex flex-col gap-0.5 ml-1">
        <dd class="inline-flex shrink-0 items-center gap-2">
            {% if not upload.private %}
            <svg class="size-3 lg:size-4{% if current_user and upload.user.id == current_user.id %} fill-blue-600{% else %} fill-gray-700{% endif %}"
                aria-hidden="true"
               >
                <use href="#material-symbols-outlined-person"></use>
            </svg>
            {% else %}
            <svg class="size-3 lg:size-4 fill-green-400" aria-hidden="true">
                <use href="#material-symbols-outlined-lock-person"></use>
            </svg>
            {% endif %}
            <div class="text-xs lg:text-sm mt-0">
                <p>{{ upload.user.username }}</p>
            </div>
        </dd>
        <dd class="inline-flex shrink-0 items-center gap-2">
            <svg class="size-3 lg:size-4 fill-gray-500" aria-hidden="true">
                <use href="#material-symbols-outlined-unknown-document"></use>
            </svg>
            <div class="text-xs lg:text-sm mt-0">
                <p>{{ upload.type }}</p>
            </div>
        </dd>
        <dd class="inline-flex shrink-0 items-center gap-2">
            <svg class="size-3 lg:size-4 fill-gray-500" aria-hidden="true">
                <use href="#material-symbols-outlined-storage"></use>
            </svg>
            <div class="text-xs lg:text-sm mt-0">
                <p>{{ upload.size | humanize_bytes }}</p>
            </div>
        </dd>
        <dd class="inline-flex shrink-0 items-center gap-2">
            <svg class="size-3 lg:size-4 fill-gray-500" aria-hidden="true">
                <use href="#material-symbols-outlined-visibility"></use>
            </svg>
            <div class="text-xs lg:text-sm mt-0">
                <p>{{ upload.viewed }}</p>
            </div>
        </dd>
        <dd class="inline-flex shrink-0 items-center gap-2">
            <svg class="size-3 lg:size-4 fill-gray-500" aria-hidden="true">
                <use href="#material-symbols-outlined-event"></use>
            </svg>
            <div class="text-xs lg:text-sm mt-0">
                <p>{{ upload.created_at | ago }}</p>
            </div>
        </dd>
        {% if upload.is_image %}
        <dd class="inline-flex shrink-0 items-center gap-2 mt-2 pt-2 border-t border-t-gray-300">
            <svg class="size-3 lg:size-4 fill-gray-500" aria-hidden="true">
                <use href="#material-symbols-outlined-aspect-ratio"></use>
            </svg>
            <div class="text-xs lg:text-sm mt-0">
                <p>{{ upload.image.width }}x{{ upload.image.height }}</p>
            </div>
        </dd>
        {% endif %}
    </dl>
    <div class="flex mt-2 items-center justify-center gap-1 lg:gap-2">
        {% include "components/uploads/download-button.html.j2" %}
        {% if not upload.is_private %}
        {% include "components/uploads/share-button.html.j2" %}
        {% endif %}
    </div>
</div>
