{% extends "layout/base.html.j2" %}

{% block content %}
<main class="columns-1 md:columns-2 xl:columns-3 2xl:columns-4 gap-4 mb-4">
    {% for upload in uploads %}
    <div class="rounded-lg p-4 mb-4 border border-gray-100 shadow-sm shadow-gray-300 h-min break-inside-avoid-column flex-col justify-center">
        {% if upload.image %}
        <img alt="{{ upload.description }}" src="{{ upload.url }}" class="h-min w-full rounded-md object-cover">
        {% else %}
        <a class="block border border-dashed text-gray-600 hover:text-gray-400 border-gray-600 hover:border-gray-400 rounded-md object-cover w-16 h-16 mx-auto" href="{{ upload.url }}">
            <div class="flex items-end justify-end h-full w-full p-2">
                {{ upload.dot_ext }}
            </div>
        </a>
        {% endif %}
        <div class="mt-2">
            <dl>
                <div class="flex items-center gap-2">
                    <dd class="text-sm text-gray-500">{{ upload.type}}</dd>
                </div>
                <div>
                    <dd class="font-medium overflow-hidden overflow-ellipsis whitespace-nowrap" title="{{ upload.description }}">{{ upload.description }}</dd>
                </div>
            </dl>
            <div class="mt-2 flex items-center gap-8 text-xs">
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <svg class="size-6 text-indigo-700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 1.2A4.8 4.8 0 1 0 16.8 6 4.805 4.805 0 0 0 12 1.2zm0 8.6A3.8 3.8 0 1 1 15.8 6 3.804 3.804 0 0 1 12 9.8zM20 22H4v-4.5A5.506 5.506 0 0 1 9.5 12h5a5.506 5.506 0 0 1 5.5 5.5zM5 21h14v-3.5a4.505 4.505 0 0 0-4.5-4.5h-5A4.505 4.505 0 0 0 5 17.5z"/>
                        <path fill="none" d="M0 0h24v24H0z"/>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Owner</p>
                        <p class="font-medium">{{ upload.user.username }}</p>
                    </div>
                </div>
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <svg class="size-6 text-indigo-700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke="#000000" stroke-width="1" d="M2,5.07692308 C2,5.07692308 3.66666667,2 12,2 C20.3333333,2 22,5.07692308 22,5.07692308 L22,18.9230769 C22,18.9230769 20.3333333,22 12,22 C3.66666667,22 2,18.9230769 2,18.9230769 L2,5.07692308 Z M2,13 C2,13 5.33333333,16 12,16 C18.6666667,16 22,13 22,13 M2,7 C2,7 5.33333333,10 12,10 C18.6666667,10 22,7 22,7"/>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">File size</p>
                        <p class="font-medium">{{ upload.size | humanize_bytes }}</p>
                    </div>
                </div>
                {% if upload.image %}
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <svg class="size-6 text-indigo-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M6 17h17V3H6zm16-1H7v-3.386l1.771-1.771a1.38 1.38 0 0 0 1.402-.334l2.288-2.29 2.27 1.892a1.376 1.376 0 0 0 1.708.043l1.245-.933L22 12.681zm0-12v7.399l-4.035-3.234a.377.377 0 0 0-.493-.035l-1.633 1.225a.377.377 0 0 1-.468-.012l-2.706-2.256a.377.377 0 0 0-.509.023L9.466 9.8a.377.377 0 0 1-.533 0 .377.377 0 0 0-.533 0L7 11.2V4zm-6.5 1.521v-.043a.979.979 0 0 1 .979-.978A1.021 1.021 0 0 1 17.5 5.521a.979.979 0 0 1-.979.979h-.043a.981.981 0 0 1-.978-.979zM21 18.824l2.058 1.676L21 22.176V21H8v1.176L5.942 20.5 8 18.824V20h13zM3 5v10h1.176L2.5 17.058.824 15H2V5H.824L2.5 2.942 4.176 5z"/>
                        <path fill="none" d="M0 0h24v24H0z"/>
                    </svg>
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Resolution</p>
                        <p class="font-medium">{{ upload.image.height }}x{{ upload.image.width }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% include("components/pagination.html.j2") %}
{% endblock %}
