{% extends "layout/base.html.j2" %}

{% block content %}
<h1>Register</h1>
<form hx-post="/register"
      hx-preserve="true",
      hx-target="body"
      hx-target-400="#messages">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ current_user.username if current_user else '' }}" required>
    </div>
    <div>
        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    </div>
    <button type="submit">Register</button>
</form>
{% endblock %}
